<div style="margin: 25vh; margin-top: 50px">
  <h1 style="color: darkorange" class="">{{news?.title | uppercase}}</h1>
  <div>
    <span style="color: darkorange; margin-right: 4px;">{{news?.category}}</span>
    <span style=" margin-right: 4px;">{{news?.publishedAt | date : 'dd/MM/yyyy à hh:mm'}}</span> <span
    *ngIf="news?.author"> par <span class="font-weight-bolder">{{news?.author}}</span></span>
  </div>
  <div class="text-center mt-4">
    <img src="{{news?.urlToImage}}" style="border-radius: 10px; max-height:400px">
  </div>
  <div class="mt-5">

    <p style="font-size: 18px">{{news?.description}}</p>
    <p style="font-size: 16px">{{news?.content}}</p>
  </div>
    <app-comments [news]="news"></app-comments>

</div>
