
  <nav class="navbar navbar-expand-md navbar-light bg-light" style="padding: 0 5rem; ">
  <mat-toolbar class="navbar navbar-light bg-light justify-content-between"  >
      <mat-icon class="cursor-pointer" style="outline: none" aria-hidden="false" (click)="category = null" routerLink="/user/home" [class.selected-category]="!category" aria-label="Example home icon" >home</mat-icon>
        <button mat-button (click)="goTo(categoryEnum.SCIENCE)" [class.selected-category]="category === categoryEnum.SCIENCE">Sciences</button>
        <button mat-button (click)="goTo(categoryEnum.SPORT)"  [class.selected-category]="category === categoryEnum.SPORT">Sports</button>
        <button mat-button (click)="goTo(categoryEnum.BUSINESS)"  [class.selected-category]="category === categoryEnum.BUSINESS">Business</button>
        <button mat-button (click)="goTo(categoryEnum.ENTERTAINMENT)"  [class.selected-category]="category === categoryEnum.ENTERTAINMENT">Loisirs</button>
        <button mat-button (click)="goTo(categoryEnum.HEALTH)"  [class.selected-category]="category === categoryEnum.HEALTH"> Santé</button>
        <button mat-button (click)="goTo(categoryEnum.TECHNOLOGY)"  [class.selected-category]="category === categoryEnum.TECHNOLOGY">Technologies</button>
        <div class="form-inline">
          <input class="form-control mr-sm-2" (keyup)="searchText = $event.target.value" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="search()"  >Rechercher</button>
        </div>
  </mat-toolbar>
  </nav>
