<div class="d-flex  align-items-center flex-column" style="height:100%; padding-top: 100px; background-color:#80808012">
        <span class="col1-sm cursor-pointer" style="font-size:x-large; outline:none; margin-bottom:30px"
              routerLink="/user/home">
            <span style="font-weight: bolder;color: darkorange">GILTREE</span>
            <span style="font-weight: lighter;"> NEWS</span>
          </span>

  <mat-tab-group dynamicHeight class="example-card example-small-box mat-elevation-z4 login-wrapper" mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Connexion">
    <div class="login-content">
      <div class="d-flex justify-content-center my-4">
        <mat-icon style="font-size:50px;">account_circle</mat-icon>
      </div>
      <form class="example-form mt-2 my-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Adresse mail" type="email" [(ngModel)]="login.email" name="email" #email="ngModel" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"  required>
          <mat-error *ngIf="email.errors.required">Ce champs est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mot de passe" [(ngModel)]="login.password" [type]="hide ? 'password' : 'text'"
                 name="password" required #password="ngModel">
          <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.invalid">Ce champs est obligatoire</mat-error>
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-center">
        <button mat-raised-button (click)="seconnecter()" class="primary-button">Se connecter</button>
      </div>
    </div>
  </mat-tab>
    <mat-tab label="Créer un compte">
      <div class="login-content">
        <div class="d-flex justify-content-center my-4">
          <mat-icon style="font-size:50px;;">person_add</mat-icon>
        </div>
        <form class="example-form mt-2 my-3" [formGroup]="signupForm">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Prénom" formControlName="firstName" required>
            <mat-error *ngIf="isControlHasError('firstName', 'required')">Ce champs est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nom" formControlName="lastName" required>
            <mat-error *ngIf="isControlHasError('lastName', 'required')">Ce champs est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Adresse mail" formControlName="email" required>
            <mat-error *ngIf="isControlHasError('email', 'required')">Ce champs est obligatoire</mat-error>
            <mat-error *ngIf="isControlHasError('email', 'email')">Invalid email</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mot de passe" formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="isControlHasError('password', 'required')">Ce champs est obligatoire</mat-error>
            <mat-error *ngIf="isControlHasError('password', 'minlength')">Aux moins 6 caractères</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirmer mot de passe" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
            <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="isControlHasError('confirmPassword', 'required')">Ce champs est obligatoire</mat-error>
            <mat-error *ngIf="isControlHasError('confirmPassword', 'ConfirmPassword')">Les mots de passe ne sont pas identiques</mat-error>
            <mat-error *ngIf="isControlHasError('confirmPassword', 'minlength')">Aux moins 6 caractères</mat-error>
          </mat-form-field>
        </form>
        <div class="d-flex justify-content-center">
          <button mat-raised-button (click)="confirmer()" class="primary-button">Confirmer</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

