
<span class="col1-sm cursor-pointer" style="font-size:x-large; outline:none;;" routerLink="/user/home"> 
    <span  style="font-weight: bolder;" >GILTREE</span>
    <span style="font-weight: lighter;">NEWS</span>
  </span>
  
  <h1 style="text-align: center;">Se connecter</h1>
  
  <div style="margin:200px; padding:50px; ">
  
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Adresse mail</span>
      </div>
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email" [(ngModel)]="login.email"
         required placeholder="entrer votre adresse mail">
    </div>
    <!-- <div [hidden]="author.valid || author.pristine">Le nom est obligatoire</div> -->
  
    <br />
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg" >Mot de passe</span>
      </div>
      <input type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="password" [(ngModel)]="login.password"
        required >
    </div>
    <!-- <div [hidden]="title.valid || title.pristine"> Le title est obligatoire</div> -->
    <br />
    
        <div>
      
          <br />
          <button class="btn btn-primary" (click)="seconnecter()"> Se connecter</button>
          <a  href=# routerLink="/create-account"> Créer un compte </a>
          
        </div>
  
     
  
      </div>