
    <div class="d-flex  align-items-center flex-column" style="height:100%; padding-top: 100px">
        <span class="col1-sm cursor-pointer" style="font-size:x-large; outline:none;" routerLink="/user/home"> 
            <span  style="font-weight: bolder;" >GILTREE</span>
            <span style="font-weight: lighter;">NEWS</span>
          </span>
    
          <mat-tab-group dynamicHeight>
            <mat-tab label="Connexion">
              <div class="example-small-box mat-elevation-z4">
                <mat-card class="example-card">
                  <mat-card-header style="justify-content: center">
                    <mat-card-title> <mat-icon style="font-size:50px;">account_circle</mat-icon></mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <form class="example-form">
                      <table class="example-full-width" cellspacing="0">
                        <tr>
                          <td>
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Adresse mail" [(ngModel)]="login.email" name="email" required>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="Mot de passe" [(ngModel)]="login.password"type="password" name="password" required>
                        </mat-form-field></td>
                      </tr></table>
                    </form>
                   
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="seconnecter()" color="primary">Se connecter</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="Créer un compte">
              <div class="example-large-box mat-elevation-z4">
                <div class="example-small-box mat-elevation-z4">
                  <mat-card class="example-card">
                    <mat-card-header style="justify-content: center">
                      <mat-card-title><mat-icon style="font-size:50px;;">person_add</mat-icon>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <form class="example-form">
                        <table class="example-full-width" cellspacing="0">
                          <tr>
                           
                          </tr>
                          <tr>
                            <td>
                              <mat-form-field class="example-full-width">
                              <input matInput placeholder="Prénom" [(ngModel)]="login.firstName" name="firstName" required>
                              </mat-form-field>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nom" [(ngModel)]="login.lastName" name="lastName" required>
                              </mat-form-field>
                            </td>
                          </tr>
                          <td>
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Adresse mail" [(ngModel)]="login.email" name="email" required>
                            </mat-form-field>
                          </td>
                          <tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="Mot de passe" [(ngModel)]="login.password"type="password" name="password" required>
                          </mat-form-field></td>
                        </tr></table>
                      </form>
                     
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button (click)="confirmer()" color="primary" >Confirmer</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
    </div>
    
   