<div class="d-flex justify-content-sm-between" style="border-bottom:  ridge black; margin-top: 50px;height:100px;">

    <span class="col1-sm cursor-pointer" style="font-size:x-large; outline:none;width:100%;" routerLink="/user/home"> 
        <span  style="font-weight: bolder;" >GILTREE</span>
        <span style="font-weight: lighter;">NEWS</span>
    </span>
    
    
      <div class="col3-sm" >
        <button mat-button   >Se connecter</button>

     
      
    
    
    
      </div>
     
    
    </div>
    
    
    
    
    
    
     
    
