<div class="d-flex justify-content-sm-between" style="border-bottom:  ridge black; margin-top: 50px;height:100px;">

    <span class="col1-sm cursor-pointer" style="font-size:x-large; outline:none;width:100%;" routerLink="/user/home"> 
        <span  style="font-weight: bolder;" >GILTREE</span>
        <span style="font-weight: lighter;">NEWS</span>
    </span>
    
    
      <div class="col3-sm" >
        <button mat-button [matMenuTriggerFor]="menu" routerLink="/login" *ngIf="!user" >Se connecter</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="user">Connecté</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  *ngIf="user?.role === roleEnum.USER">Gérer mes préférences</button>
          <button mat-menu-item (click)="signout()" >Déconnexion</button>
          <button mat-menu-item routerLink="/journalist/gerer-les-articles" *ngIf="user?.role === roleEnum.JOURNALIST">Gérer mes articles</button>
       
        </mat-menu>
      
    
    
    
      </div>
     
    
    </div>
    
    
    
    
    
    
     
    
